<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<div id="elm"></div>
<script>{{elm-main}}</script>
<script>
var app = Elm.Main.init( 
    { flags: { location : document.location.origin || "", 
               wsport : {{websockets-port}},
               width : window.innerWidth, 
               height : window.innerHeight
             }, 
      node: document.getElementById("elm") 
    });
if (document.getElementById("elm"))
{
  document.getElementById("elm").innerText = 'This is a headless program, meaning there is nothing to show here.\n\nI started the program anyway though, and you can access it as `app` in the developer console.';
}
</script>
</body>
</html>
